# Python
server/venv/
server/__pycache__/
server/**/__pycache__/
**/*.pyc
**/*.pyo
server/.env
server/.deepeval
/.deepeval
embedding_service/venv/
embedding_service/__pycache__/
embedding_service/**/__pycache__/

# Node
client/node_modules/
client/.next/
client/.env.local
client/.env

# Common
.DS_Store
*.log
.env